BACKUP_APP_ROOT=/home/admin/VocaloidProducerBlog
APP_STORAGE_ROOT=/var/lib/vocaloid-producer-blog
BACKUP_LOCAL_DIR=/var/backups/vocaloid-producer-blog
BACKUP_ENCRYPTION_KEY_FILE=/etc/vocaloid-producer-blog/backup.key
BACKUP_RETENTION_DAYS=14
BACKUP_REQUIRE_REPLICA=true
BACKUP_REPLICA_COMMAND=/usr/bin/rclone
BACKUP_REPLICA_ARGS='["copyto","{file}","utopia-backups:vocaloid-producer-blog/{name}"]'
BACKUP_DRILL_LOG_DIR=/var/lib/vocaloid-producer-blog/drills
BACKUP_TAR_COMMAND=/usr/bin/tar
RCLONE_CONFIG=/var/lib/vpb-backup/.config/rclone/rclone.conf
